*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
}

.container-mobile {
  width: 280px;
  margin: 0 auto;
}

.container-tablet {
  width: 708px;
  margin: 0 auto;
}

.container-desktop {
  width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
}

/* здесь используйте глобальные селекторы img, body, html и так далее */
