.additional-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 32px;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
  }
}

.additional-list__item {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 13px;
  position: relative;
  padding: 13px 0;
  border-top: solid 2px rgba(205, 205, 205, 1);


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    align-items: center;
  }
}

.additional-list__item-title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: $card-color-title;
  grid-row: 1/2;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
  }
}

.additional-list__item-wrapper {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.additional-list__item-volume {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-list__item-price {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.button {
  grid-row: 3/-1;
}

.button--additional {
  @media (min-width: $desktop-width-min) {
    grid-column: 3/-1;
    grid-row: 1/2;
    display: grid;
    width: 87%;
  }
}

.additional-list__item--last {
  border-bottom: solid 2px rgba(205, 205, 205, 1);
}
