.additional-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 32px;
}

.additional-list__item {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 13px;
  position: relative;
  padding: 0 20px;
}

.additional-list__item-title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: $card-color-title;
  grid-row: 1/2;
  margin: 0;

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    top: -13px;
    background-color: rgba(205, 205, 205, 1);
    justify-self: center;
  }
}

.additional-list__item-wrapper {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.additional-list__item-volume {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;
}

.additional-list__item-price {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;
}

.button {
  grid-row: 3/-1;
}

.additional-list__item--last::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  top: 6px;
  background-color: rgba(205, 205, 205, 1);
  justify-self: center;
}
