.catalog-list {
  display: grid;
  grid-template-rows: auto;
  row-gap: 25px;
}

.catalog-list__item {
  display: grid;
  grid-template-rows: 1fr 40px;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
}

.catalog-list__item-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/-1;
}

.catalog-list__item-title {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.catalog-list__item-images {
  grid-row: 1/2;
  grid-column: 1/2;
}

.catalog-list__descriptions-wrapper {
  display: grid;
}

.button {
  background-color: rgba(104, 183, 56, 1);
  padding: 10px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0 20px;
  grid-column: 1/-1;
  grid-row: 2/3;
}
