.catalog-item {
  display: grid;
  grid-template-rows: 1fr 1fr min-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  padding: 20px 20px 25px;
  border-top: solid 1px rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: none;
    align-items: center;
    gap: 0;
    background-color: rgba(242, 242, 242, 1);
    padding: 0 37px 40px;
    background: linear-gradient(#fff 82px, #f2f2f2 82px 511px);
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 38px 40px;

    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 1);
  }
}

.catalog-item__text-wrapper {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 22px 0 37px;
  }
}

.catalog-item__img-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.catalog-item__title {
  position: relative;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $card-color-title;
  margin: 0;
  grid-column: 1/-1;
  align-self: center;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-item__description-list {
  justify-self: start;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-color;
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  width: 100%;
}

.catalog-item__description-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 2px 0;
  border-bottom: solid 1px rgba(205, 205, 205, 1);
}

.catalog-item__term {
  position: relative;
  justify-self: start;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-item__description {
  justify-self: end;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.button--order {
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 100%;
}

.catalog-item--special {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    border: solid 1px rgba(242, 242, 242, 1);
    min-height: 429px;
    align-self: flex-end;
  }
}

.button--more {
  background-color: rgba(242, 242, 242, 1);
  display: block;
  color: rgba(68, 68, 68, 1);
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.catalog-item__title--special {
  color: rgba(17, 17, 17, 1);
  margin: 0;

  &::before {
    content: "";
    display: block;
    position: relative;
    margin: 25px auto 23px;
    min-width: 30px;
    min-height: 30px;
    background-image: url("/icons/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 50px auto 23px;
  }
}

.catalog-item__text {
  margin: 0 auto 21px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }
}
