.catalog {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    justify-content: center;
  }
}
