.catalog {
  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: grid;
    justify-content: center;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 245px);
    gap: 63px 80px;
    max-width: 1440px;
    justify-content: center;
  }
}
