.contacts {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgba(255, 255, 255, 1);
  position: relative;

  @media (min-width: $desktop-width-min) {
    grid-template-rows: 95px max-content 106px;
    grid-template-columns: 1fr 1220px 1fr;
  }
}

.contacts__container {
  position: relative;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
  background-color: rgba(242, 242, 242, 1);

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    column-gap: 250px;
    background-color: rgba(242, 242, 242, 1);
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    top: 0;
    margin: 0 auto 0 0;
    background-color: rgba(255, 255, 255, 1);
    max-width: 565px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
  }
}

.contacts__text {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: rgba(17, 17, 17, 1);
  margin: 0;
  padding: 18px 10px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 0 10px 0 0;
  }
}

.contacts__address a {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $dark-color;
  list-style-type: none;
  font-style: normal;
  padding: 18px 0 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    padding: 0 60px 0 0;
  }
}

.contacts__address-sity {
  @media (min-width: $tablet-width) {
    margin-top: 18px;
    display: inline-block;
  }
}

.contacts__map {
  position: relative;
  grid-row: 2/3;
  min-height: 362px;
  width: 100vw;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

.contacts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 362px;
  object-fit: cover;
  z-index: -1;
}

.contacts iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

