.description__list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.description__item {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px auto;
  gap: 20px;
}

.description__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 20px;
  margin: 0;
}

.description__text {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  grid-column: 2/-1;
  margin: 0;

  &.description__text::after {
    content: "";
    position: relative;
    display: block;
    top: -35px;
    left: -80px;
    width: 60px;
    height: 60px;
  }

  &.description__text--one::after {
    background-image: url("/icons/sheet.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.description__text--two::after {
    background-image: url("/icons/powder.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.description__text--tree::after {
    background-image: url("/icons/tableware.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &.description__text--four::after {
    background-image: url("/icons/clock.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
