.description {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 30px 69px;
  }
}

.description__list {
  list-style-type: none;
  margin: 41px 0 0;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 0 48px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 126px 73px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0;
    padding: 0;
  }
}

.description__item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 31px 0;
    padding: 0 15px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 0;
    margin-right: 40px;
  }
}

.description__item::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0;
    left: 0;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0;
    left: 0;
  }
}

.description__item--one {
  &::before {
    background-image: url("/icons/sheet.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.description__item--two::before {
  background-image: url("/icons/powder.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.description__item--tree::before {
  background-image: url("/icons/tableware.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 38px;
}

.description__item--four::before {
  background-image: url("/icons/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.description__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin: 41px 0 72px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 30px 0 32px;
    margin: 41px 0 40px;
  }
}

.description__text {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  grid-column: 2/-1;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-row: 2/3;
    grid-column: 1/-1;
    padding: 0 39px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 0 55;
    grid-column: 1/-1;
  }
}
