.description {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 110px;
  }
}

.description__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 130px;
    justify-content: left;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 77px;
  }
}

.description__item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 31px 0;
  }

  @media (min-width: $desktop-width-min) {
    grid-template-rows: 110px min-content;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.description__item::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0px;
    left: 0;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0;
    left: 0;
  }
}

.description__item--one::before {
  background-image: url("/icons/sheet.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.description__item--two::before {
  background-image: url("/icons/powder.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.description__item--tree::before {
  background-image: url("/icons/tableware.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.description__item--four::before {
  background-image: url("/icons/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.description__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 30px 0 32px;
  }
}

.description__text {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  grid-column: 2/-1;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width-min) {
    padding: 5px 20px 55px 0;
    grid-column: 1/-1;
  }
}
