.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color;
}

.example__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
}

.example__terms {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
}

.example__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: $dark-color;
}

.example__text--price {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
}

.example__button-slider {
  position: relative;
  height: 256px;
  width: 4px;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 2px;
  padding: 0;
  border: transparent;

  &.example__button-slider::after {
    content: "";
    position: relative;
    left: -17px;
    height: 40px;
    width: 40px;
    background-image: url("/icons/slider.svg");
    background-position: center;
    background-repeat: no-repeat;
}
}
