.example {
  display: grid;
  position: relative;
  width: 100%;
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
  }

  @media (min-width: $desktop-width-min) {
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
  }
}

.example__container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  row-gap: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
    border-top: solid 1px rgba(230, 230, 230, 1);
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 10px;

    background-image: linear-gradient(#fff 57%, #f2f2f2 115px 611px);
    background-size: cover;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1220px 1fr;
    column-gap: 10px;
    width: 100%;
  }
}

.example__wrapper {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  height: fit-content;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1220px 1fr;
    background-image: linear-gradient(rgba(242, 242, 242, 1) 82px, rgba(242, 242, 242, 1) 82px 511px);
    background-size: cover;
    z-index: 1;
  }
}

.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 25px 0 20px 20px;
  margin: 0;
  z-index: 3;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 60px;
    line-height: 60px;
    padding: 44px 0 22px 30px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 450px;
    padding: 25px 9px 56px;
  }
}

.example__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  margin: 0 auto 19px;
  padding: 0 7px 0 20px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 18px 10px 56px 30px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 450px;
    margin: 20px 0;
    padding: 51px 8px 50px 9px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin: 0 0 0 15px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 162px 162px;
    margin: 0 0 0 50px;
    column-gap: 44px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: left;
    margin: 0 0 0 8px;
    column-gap: 42px;
  }
}

.example__item {
  display: grid;
  grid-template-rows: 87px;
  width: 100%;
  height: fit-content;
  position: relative;
}

.example__terms {
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  padding: 14px 17px 16px;
  max-width: 162px;
  height: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: $dark-color;
  background-color: rgba(234, 234, 234, 1);
  width: min-content;
  margin: 0 auto;
  padding: 10px 10px 20px;
  height: fit-content;
  position: absolute;
  top: 39px;
  left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    top: 53px;
    left: 23px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 1);
  }

  @media (min-width: $desktop-width-min) {
    top: 52px;
    left: 22px;
    background-color: rgba(242, 242, 242, 1);
  }
}

.example__description--two {
  padding: 10px;
  left: 20px;

  @media (min-width: $tablet-width) {
    left: 10px;
    padding: 10px 0;
    width: 142px;
  }

  @media (min-width: $desktop-width-min) {
    top: 52px;
    left: 10px;
  }
}

.example__text--price {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
  margin: 5px 0 0;
  grid-row: 3/4;
  grid-column: 1/-1;


  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 3/-1;
    font-size: 20px;
    line-height: 28px;
    padding: 7px 17px 0 185px;
    text-align: right;
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 3/-1;
    grid-column: 2/3;
    display: flex;
    margin: 0;
    justify-content: left;
    padding: 40px 10px 70px;
  }
}

.example__price {
  margin: 0;

  @media (min-width: $desktop-width-min) {
    margin-left: 65px;
  }
}

.example__button-slider {
  position: absolute;
  top: -18px;
  left: 52%;
  height: 100%;
  width: 4px;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 2px;
  padding: 0;
  border: transparent;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 51%;
    top: 2%;
    height: 100%;
    width: 4px;
    background-color: rgba(102, 102, 102, 1);
    border-radius: 2px;
    padding: 0;
    border: transparent;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    top: 12px;
    left: 50%;
    height: 82%;
    width: 4px;
    background-color: rgba(102, 102, 102, 1);
    border-radius: 2px;
    padding: 0;
    border: transparent;
  }

  &.example__button-slider::after {
    content: "";
    position: relative;
    display: block;
    left: -17px;
    height: 40px;
    width: 40px;
    background-image: url("/icons/slider.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.example__slider {
  padding-bottom: 31px;
  margin: -9px auto 20px;
  position: relative;
  min-width: 280px;
  min-height: 256px;

  @media (min-width: $tablet-width) {
    grid-row: 3/-1;
    grid-column: 1/-1;
    min-width: 560px;
    min-height: 512px;
    padding-bottom: 102px;
    margin: 0 auto 15%;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/-1;
    grid-column: 2/-2;
    top: 16px;
    left: 337px;
    z-index: 2;
    max-width: 50%;
    padding-bottom: 86px;
    margin: 0 auto;
  }
}

.example__slider-left {
  position: absolute;
  top: -18px;
  left: 7px;
  width: 50%;
  height: auto;
  background-color: transparent;
  clip-path: border-box;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 2%;
    left: 10px;
    width: 50%;
    height: auto;
    background-color: transparent;
    clip-path: border-box;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
    background-color: transparent;
    clip-path: border-box;
  }
}

.example__img-fat {
  object-fit: cover;
}

.example__slider-right {
  position: absolute;
  top: -18px;
  right: -7px;
  width: 50%;
  height: auto;
  background-color: transparent;
  clip-path: border-box;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 1%;
    right: -2%;
    width: 50%;
    height: auto;
    background-color: transparent;
    clip-path: border-box;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    right: 0%;
    width: 50%;
    height: auto;
    background-color: transparent;
    clip-path: border-box;
  }
}

.example__img-skinny {
  object-fit: cover;
  position: relative;
  right: 100%;
}
