.example {
  display: grid;
  grid-column: 1fr;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.example__container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  background-color: rgba(234, 234, 234, 1);
  row-gap: 20px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(230, 230, 230, 1);
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 10px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1220px 1fr;
    column-gap: 10px;
  }
}

.example__wrapper {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  height: fit-content;

  @media (min-width: $desktop-width-min) {
    grid-row: 2/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1220px 1fr;
    background-image: linear-gradient(rgba(242, 242, 242, 1) 82px, rgba(242, 242, 242, 1) 82px 511px);
    background-size: cover;
    width: 100vw;
    z-index: 1;
  }
}

.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 25px 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 450px;
  }
}

.example__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 450px;
    margin: 20px 0;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 162px 162px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.example__item {
  display: grid;
  grid-template-rows: 87px;
  width: 100%;
  height: fit-content;
  position: relative;
}

.example__terms {
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  padding: 14px 17px 16px;
  max-width: 162px;
  height: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: $dark-color;
  background-color: rgba(234, 234, 234, 1);
  width: min-content;
  margin: 0 auto;
  padding: 10px 10px 20px;
  height: fit-content;
  position: absolute;
  top: 39px;
  left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__text--price {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
  margin-top: 5px;
  grid-row: 3/4;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 3/-1;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 3/-1;
    grid-column: 2/3;
    display: grid;
    margin: 20px 0;
    justify-content: left;
    padding-bottom: 50px;
  }
}

/* .example__button-slider {
  position: relative;
  height: 256px;
  width: 4px;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 2px;
  padding: 0;
  border: transparent;

  &.example__button-slider::after {
    content: "";
    position: relative;
    display: block;
    left: -17px;
    height: 40px;
    width: 40px;
    background-image: url("/icons/slider.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
} */

.example__slider {
  padding-bottom: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-row: 4/-1;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/-1;
    grid-column: 2/-2;
    position: absolute;
    top: -50px;
    right: 20%;
    z-index: 2;
  }
}

.example__img {
  margin: -20px 0 0;
}
