.example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.example__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.example__list {

}

.example__item {

}

.example__terms {

}

.example__description {

}

.example__slider {
  
}

