.example {
  display: grid;
  grid-template-rows: repeat(6, auto);
  background-color: rgba(234, 234, 234, 1);
  row-gap: 20px;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(230, 230, 230, 1);
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 10px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    padding: 0 110px 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

  }
}

.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 25px 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.example__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  margin: 20px auto;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 162px 162px;
  }
}

.example__item {
  display: grid;
  width: 100%;
}

.example__terms {
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
  text-transform: uppercase;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  padding: 14px 10px 7px;
  max-width: 162px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: $dark-color;
  background-color: rgba(234, 234, 234, 1);
  width: min-content;
  margin: -10px auto 0;
  padding: 10px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__text--price {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 3/-1;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 4/-1;
    grid-column: 1/2;
    display: grid;
  }
}

/*.example__button-slider {
  position: relative;
  height: 256px;
  width: 4px;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 2px;
  padding: 0;
  border: transparent;

  &.example__button-slider::after {
    content: "";
    position: relative;
    display: block;
    left: -17px;
    height: 40px;
    width: 40px;
    background-image: url("/icons/slider.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}*/

.example__slider {
  @media (min-width: $tablet-width) {
    grid-row: 4/-1;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/-1;
    grid-column: 2/-1;
    display: grid;
  }
}

.example__img {
  margin: 0 auto;
}
