.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px;
}

.main-header__logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-width: 250px;
}

.main-header__logo-text {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
