.main-header {
  min-width: 320px;
}

.main-header--catalog {
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
    display: block;
    position: relative;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.main-header__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  padding: 11px 7px 14px 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr minmax(436px, 710px);
    padding: 22px 10px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 20px 50px 37px;
    max-width: 1280px;
  }
}

.main-header__logo {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  min-width: 33px;
  margin: 1px 10px 0 0;

  @media (min-width: $tablet-width) {
    margin-right: 90px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 408px;
    width: 202px;
  }
}

.main-header__logo-text {
  margin: 0 auto;
  justify-self: center;
  transform: translate(-9px);

  @media (min-width: 768px) {
    display: none;
  }
}
