.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 25px 34px 0 30px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  min-width: 174px;
  margin-right: 33px;
}

.main-header__logo-text {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
