.main-footer {
  background-color: rgba(242, 242, 242, 1);
}

.main-footer__container {
  position: relative;
  display: grid;
  grid-template-rows: 84px 63px 1fr;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 66px 110px;
  }
}

.main-footer__logo {
  margin: 0 auto;
  padding: 20px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
    padding: 5px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
  }
}

.main-footer__copyright {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 280px;
  max-width: 727px;
  min-height: 34px;
  text-decoration: none;
  color: $dark-color;
  filter: grayscale(100%);
  display: flex;
  padding: 20px 0 40px;
  align-items: center;

  &:hover,
  &:focus {
    filter: none;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0 -15px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
  }
}

.main-footer__copyright-img {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
