.main-header__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

.main-header__logo {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  min-width: 33px;
  margin-right: 10px;
}

.main-header__logo-text {
  margin: 0 auto;
  justify-self: center;
}

@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
