.main-header__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  padding: 13px 7px 14px 20px;
  max-width: 1280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr;
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

.main-header__logo {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  min-width: 33px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 90px;
    width: 174px;
  }
}

.main-header__logo-text {
  margin: 0 auto;
  justify-self: center;
  transform: translate(-9px);

  @media (min-width: 768px) {
    display: none;
  }
}
