.main-footer {
  background-color: rgba(242, 242, 242, 1);
}

.main-footer__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 20px;
}

.main-footer__logo {
  margin: 0 auto;
  padding: 40px 0 20px;
}

.main-footer__copyright {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 280px;
  min-height: 34px;
  text-decoration: none;
  color: $dark-color;
  filter: grayscale(100%);
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:hover,
  &:focus {
    filter: none;
  }

  &:active {
    opacity: 30%;
  }
}

.main-footer__copyright-img {
  display: block;
  justify-self: end;
}
