.navigation--close {
  display: none;
}

.navigation__item {
  font-family: $primary-font;
  color: $title-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
