.navigation__list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 65px;
  background-color: $light-color;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    position: relative;
    top: 0;
    margin-left: 33px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width-min) {
    justify-content: flex-end;
    background-color: transparent;
  }
}

.navigation__list--close {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  font-family: $primary-font;
  color: $title-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  border-top: 1px solid rgba(230, 230, 230, 1);

  @media (min-width: $tablet-width) {
    margin-right: 33px;
    border: none;
  }
}

.navigation__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: solid 2px rgba(104, 183, 56, 1);
  }

  @media (min-width: $desktop-width-min) {
    border-bottom: solid 2px rgba(104, 183, 56, 1);
  }
}

.navigation__item a {
  padding: 22px 0 24px;
  text-align: center;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $title-color;
  width: max-content;

  @media (min-width: $desktop-width-min) {
    font-size: 20px;
    line-height: 100%;
  }
}

.navigation__item--special a {
  @media (min-width: $desktop-width-min) {
    color: rgba(255, 255, 255, 1);
  }
}

.navigation__item--special--active {
  @media (min-width: $desktop-width-min) {
    border-bottom: solid 2px rgba(255, 255, 255, 1);
  }
}

.navigation__item--special--active a {
  @media (min-width: $desktop-width-min) {
    color: rgba(255, 255, 255, 1);
  }
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 8px;
  background-color: $title-color;
}

.navigation__toggle--active span:nth-child(2) {
  display: none;
}

.navigation__toggle--active span:nth-child(1) {
  transform: translate(30%, 300%) rotate(45deg);
}

.navigation__toggle--active span:nth-child(3) {
  transform: translate(30%, -200%) rotate(-45deg);
}
