.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 15%;
  background-color: $light-color;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    position: relative;
  }
}

.navigation__list--close {
  display: none;
}

.navigation__item {
  font-family: $primary-font;
  color: $title-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
  border-top: 1px solid rgba(230, 230, 230, 1);

  @media (min-width: $tablet-width) {
    margin-right: 33px;
    border: none;
  }
}

.navigation__item a {
  padding: 22px 0 24px;
  text-align: center;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $title-color;
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 8px;
  background-color: $title-color;
}

.navigation__toggle--active span:nth-child(2) {
  display: none;
}

.navigation__toggle--active span:nth-child(1) {
  transform: translate(30%, 300%) rotate(45deg);
}

.navigation__toggle--active span:nth-child(3) {
  transform: translate(30%, -200%) rotate(-45deg);
}
