
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  background-color: $light-color;
  color: $dark-color;
  width: 100%;
}

.page__main {
  position: relative;
  margin: 0 auto;
}

.page__title--catalog {
  padding: 0 20px;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
  }
}
