.program {
  list-style-type: none;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 80px;
  }
}

.program__item {
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  padding: 20px 20px 10px;
  margin: 20px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 65px auto auto auto;
    grid-template-columns: 37px 1fr 300px;
    gap: 15px;
    margin: -2px 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    padding: 40px 50px 55px;
    margin: 0;
  }
}

.program__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  color: $title-color;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  align-self: center;
  grid-row: 1/2;
  grid-column: 2/-1;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: center;
    font-size: 36px;
    line-height: 36px;
    padding: 6px 2px 0;
  }
}

.program__title--two {
  align-self: start;
  margin: 10px 0 0 -16px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 38px 0 0 2px;
  }
}

.program__text {
  font-family: $dark-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  text-align: left;
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: 0;
  padding: 2px 0 0;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 63px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: start;
    font-size: 16px;
    line-height: 24px;
    padding: 27px 2px 0;
  }
}

.program__text--two {
  padding: 6px 0 0;

  @media (min-width: $tablet-width) {
    align-self: start;
    padding: 5px 57px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 10px 0 2px;
  }
}

.program__link {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $title-color;
  grid-row: 3/-1;
  grid-column: 1/-1;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    grid-row: 4/-1;
    grid-column: 2/3;
    font-size: 20px;
    line-height: 100%;
    margin-top: 0;
    padding: 43px 0 53px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 3/-1;
    align-self: center;
    font-size: 20px;
    line-height: 100%;
    padding: 17px 3px 0;
  }
}

.program__link::after {
  content: "";
  position: relative;
  display: block;
  top: -15px;
  left: 102px;
  width: 32px;
  height: 12px;
  background-image: url("/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 133px;
    width: 32px;
    height: 10px;
  }
}

.program__link--two::after {
  top: -13px;
  left: 98px;

  @media (min-width: $tablet-width) {
    top: -15px;
    left: 129px;
  }
}

.program__item-slim::before {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  height: 54px;
  background-image: url("/icons/cat-sitting.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 3/-1;
    display: grid;
    width: 200px;
    height: 210px;
    margin: 85px 0 0 -22px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    left: 0;
    top: 0;
    width: 105px;
    height: 105px;
    margin: 0;
  }
}

.program__item-pro::before {
  content: "";
  position: relative;
  left: -7px;
  top: 3px;
  display: block;
  width: 67px;
  height: 50px;
  background-image: url("/icons/cat-powerful.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 3/-1;
    display: grid;
    place-self: center center;
    width: 280px;
    height: 200px;
    left: 0;
    top: 0;
    margin: 5px 0 0 -140px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    width: 135px;
    height: 105px;
    top: -10px;
    left: -21px;
    margin: 0;
  }
}
