.program {
  list-style-type: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0 110px;
  }
}

.program__item {
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  padding: 20px;
  margin: 20px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 300px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    padding: 40px 50px 55px;
    margin: 20px 0;
  }
}

.program__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  color: $title-color;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  align-self: center;
  grid-row: 1/2;
  grid-column: 2/-1;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: center;
    font-size: 36px;
    line-height: 36px;
  }
}

.program__text {
  font-family: $dark-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  text-align: left;
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.program__link {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $title-color;
  grid-row: 3/-1;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 3/-1;
    align-self: center;
    font-size: 20px;
    line-height: 100%;
  }
}

.program__link::after {
  content: "";
  position: relative;
  display: block;
  top: -16px;
  left: 120px;
  width: 24px;
  height: 12px;
  background-image: url("/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 150px;
    width: 32px;
    height: 10px;
  }
}

.program__item-slim::before {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/icons/cat-sitting.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 2/-1;
    display: grid;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    left: 20px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    left: -30px;
    width: 100px;
    height: 100px;
  }
}

.program__item-pro::before {
  content: "";
  position: relative;
  left: -10px;
  display: block;
  width: 67px;
  height: 50px;
  background-image: url("/icons/cat-powerful.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
    grid-column: 2/-1;
    display: grid;
    align-self: center;
    justify-self: center;
    width: 250px;
    height: 200px;
    left: 20px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    left: -30px;
    width: 100px;
    height: 100px;
  }
}
