.program__item {
  position: relative;
}

.program__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  color: $light-color;
  line-height: 37px;
  text-transform: uppercase;
}

.program__text {
  font-family: $dark-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
}

.program__link {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
}

.program__link::after {
  content: "";
  position: relative;
  top: -16px;
  left: 120px;
  width: 24px;
  height: 12px;
  background-image: url("/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.program__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(104, 183, 56, 1);
  position: relative;
}

.program__item-slim::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 36px;
  height: 50px;
  background-image: url("/icons/cat-sitting.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.program__item-pro::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -7px;
  width: 67px;
  height: 29px;
  background-image: url("/icons/cat-powerful.svg");
  background-position: center;
  background-repeat: no-repeat;
}
