.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 0 263px;
    max-width: 1440px;
    width: 100%;

    &::before {
      grid-column: 2/3;
      content: "";
      position: absolute;
      width: 100%;
      min-height: 750px;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
      left: 1%;
      top: -36%;
      z-index: -2;
    }
  }
}

.promo__wrapper-img {
  position: absolute;
  top: 167px;
  left: 52%;
  transform: translate(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.promo__images {
  display: block;
  min-width: 280px;
  min-height: 270px;
  object-fit: contain;

  @media (min-width: $desktop-width-min) {
    position: absolute;
    top: -26px;
    left: -22%;
    grid-column: 2/4;
    grid-row: 1/-1;
  }
}

.promo__wrapper-text {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/promo-background@1x.png") center/cover;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    padding: 0 45px;
  }
}

.promo__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  padding: 27px 0 25px 16px;
  margin: 0;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 65px 89px 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 59px 0 0 74px;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 0 114px 13px;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 40px 90px 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    color: $title-color;
    margin: 40px 0 32px 75px;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.button--promo {
  margin: 137px 20px 0;
  width: 92%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 295px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 25px 14px 26px;
    margin: 0;
    width: 242px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    top: 0;
    left: 80px;
    margin: 0 20px 0 111px;
    padding: 14px 25px;
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
  }
}
