.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 110px;
    padding-bottom: 110px;

    &::before {
      grid-column: 2/3;
      content: "";
      position: absolute;
      width: 50vw;
      height: 694px;
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/promo-background@1x.png") right/contain;
      background-repeat: no-repeat;
      background-position: 0, 150px;
      left: 50px;
      z-index: -10;
      top: -200px;
    }
  }
}

.promo__wrapper-img {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    top: -100px;
  }
}

.promo__images {
  display: block;
  min-width: 280px;
  min-height: 270px;
  object-fit: contain;

  @media (min-width: $desktop-width-min) {
    position: absolute;
    top: 60px;
    left: -10%;
    grid-column: 2/4;
    grid-row: 1/-1;
  }
}

.promo__wrapper-text {
  position: relative;
  width: 100%;
  min-height: 302px;
  margin: 0 auto;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/promo-background@1x.png") center/cover;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    background: rgba(255, 255, 255, 1);
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.promo__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  padding: 27px 36px 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 65px 100px 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 70px;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 40px 100px 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    color: $title-color;
    margin: 40px 70px 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.button--promo {
  margin: 140px 20px 0;

  @media (min-width: $tablet-width) {
    width: max-content;
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    top: -100px;
    left: 50px;
    margin: 0 20px;
    display: block;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 26px;
  }
}
