.section__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color;
}

.section--additional {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
  }
}

.section__title--additionally {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $title-color;
  padding: 25px 20px 36px;
  border-top: solid 1px rgba(235, 235, 235, 1);

  width: fit-content;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 40px 0 0 0 rgba(255, 255, 255, 1), -40px 0 0 0 rgba(255, 255, 255, 1);

  &::before {
    content: "";
    position: absolute;
    top: 45px;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: rgba(104, 183, 56, 1);
    z-index: -1;
    box-shadow: 100vw 0 0 0 rgba(104, 183, 56, 1);
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.section__container {
  max-width: 1220px;
  margin: 0 auto;
}
