.section {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 110px;
  }
}

.section__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color;
}

.section--additional {
  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
  }
}

.section__title--additionally {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $title-color;
  padding: 25px 20px 36px;
  border-top: solid 1px rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
  }
}
