.stocks {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-width: 280px;
  min-height: 290px;
  background-image: url("/images/cat-bag-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 25px 15px 23px;
  position: relative;
  margin: 40px 0 0;

  &::before {
    content: "Закажите все и\00A0получите чехол для кота в подарок!";
    position: relative;
    top: 186px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 70%;
    height: 70%;
    text-align: center;
    color: $light-color;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    top: -78px;
    left: 50%;
    transform: translate(-50%);
    width: 78px;
    height: 80px;
    background-image: url("/icons/icon_gift.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 70px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 2/-1;
    grid-row: 2/-1;
    align-items: center;
    margin: 0;
    width: 100%;
  }
}
