.stocks__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  position: relative;

  &::before {
    content: "";
    display: block;
    min-width: 280px;
    min-height: 290px;
    background-image: url("/images/cat-bag-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.stocks__discription {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: $light-color;
}
