.subscribe {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0 20px 40px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
    padding: 80px 70px;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 110px;
    padding: 50px 0 104px;
  }
}

.subscribe__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  align-self: left;
  color: $title-color;
  position: relative;
  display: inline-block;
  padding: 40px 0 32px;
  margin: 0;
  width: fit-content;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 40px 0 0 0 rgba(255, 255, 255, 1), -40px 0 0 0 rgba(255, 255, 255, 1);

  &::before {
    content: "";
    position: absolute;
    top: 45px;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: rgba(104, 183, 56, 1);
    z-index: -1;
    box-shadow: 100vw 0 0 0 rgba(104, 183, 56, 1);
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width-min) {
    align-self: start;
  }
}

.subscribe__discription {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  padding: 0 20px;
  margin: 0 0 24px;
  display: grid;
  height: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
  }
}

.subscribe__field {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: $dark-color;
  grid-row: 1/2;
  display: grid;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: flex;
    flex-grow: 2;
  }

  @media (min-width: $desktop-width-min) {
    min-width: 496px;
  }
}

.button--subscribe {
  font-size: 20px;
  line-height: 26px;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: flex;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width-min) {
    padding: 15px 69px;
  }
}
